<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Статистика</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body id="page-top">

<div id="wrapper">
    <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
         th:insert="blocks/navLeft :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/navTop :: nav"></div>
            <div class="container-fluid">

                <h3 class="text-dark mb-4">Статистика</h3>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <button th:unless="${transactions.isEmpty()}" onclick="generatePDF()"
                                class="btn btn-primary w-100">Сохранить
                        </button>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <div id="drawTransactionsPercent" style="height: 500px"></div>
                            </div>
                            <div class="col">
                                <div id="drawTransactions" style="height: 500px"></div>
                            </div>
                        </div>
                        <hr>
                        <div th:each="i : ${transactions}" class="row mb-2 text-dark" id="generatePDF">
                            <div class="col">
                                <span th:text="${'ИД перевозки: ' + i.shipping.id}"></span>
                            </div>
                            <div class="col">
                                <span th:text="${'Дата и время: ' + i.dateAndTime}"></span>
                            </div>
                            <div class="col">
                                <span th:text="${'Стоиомость: ' + i.price + ' $'}"></span>
                            </div>
                            <div class="col">
                                <span th:text="${'Место отправки: ' + i.sending}"></span>
                            </div>
                            <div class="col">
                                <span th:text="${'Место прибытия: ' + i.arrival}"></span>
                            </div>
                            <div class="col">
                                <span th:text="${'Статус: ' + i.status.name}"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript" type="text/javascript">
    var completedTransaction = /*[[${completedTransaction}]]*/ 0;
    var waitingTransaction = /*[[${waitingTransaction}]]*/ 0;

    var by1000 = /*[[${by1000}]]*/ 0;
    var with1000by2500 = /*[[${with1000by2500}]]*/ 0;
    var with2500by5000 = /*[[${with2500by5000}]]*/ 0;
    var with5000by10000 = /*[[${with5000by10000}]]*/ 0;
    var with10000by15000 = /*[[${with10000by15000}]]*/ 0;
    var with15000 = /*[[${with15000}]]*/ 0;

    function generatePDF() {
        html2pdf(document.getElementById('generatePDF'));
    }
</script>
<script src="/js/stats.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>

</body>

</html>